# Rust
/target/
**/*.rs.bk
*.pdb
Cargo.lock

# IDE
.idea/
.cursor
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Local development
.env
.env.local

# Documentation
/book/
examples/axum-full-example/target
examples/poem-full-example/target
target